@charset "utf-8";

.wrapper {
  background-color: #f2f6f2;
  padding: 32px 0;
  width: 100%;
}

.inner {
  margin: 0 auto;
  width: 640px;
}

.main {
  margin-bottom: 32px;
  padding: 48px 64px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .18);
}

.main__title {
  color: #545654;
  font-size: 24px;
  margin-bottom: 24px;
  text-align: center;
}

.content {
  display: flex;
  margin-bottom: 8px;
}

.content__column {
  width: 50%;
}

.button {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  font-size: 13px;
  padding: 13px;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}

.is__facebook {
  background-color: #3b5993;
  color: #fff;
  transition: 0.3s;
}

.is__facebook:hover {
  background-color: #344e87;
}

.is__google {
  color: #dd4b39;
  transition: 0.3s;
}

.is__google:hover {
  background-color: #f7f7f7;
}

.content__column:last-child {
  margin-left: 8px;
}

.sub__text {
  color: #949694;
  font-size: 12px;
  text-align: center;
}

.information {
  position: relative;
  background-color: #fff;
  color: #949694;
  font-size: 12px;
  padding: 0 10px;
  display: inline-block;
}

.information__line {
  position: relative;
  margin: 20px 0;
  text-align: center;
}

.information__line::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #ececec;
}

.row {
  margin-bottom: 20px;
}

.name__box {
  display: flex;
}

.name:last-child {
  margin-left: 16px;
}

.label__text {
  margin-bottom: 5px;
  font-size: 12px;
  color: #545654;
}

.alert {
  color: #dd4b39;
}

.input__icon {
  box-sizing: border-box;
  height: 36px;
  width: 100%;
  padding: 5px;
  font-size: 13px;
  color: #545658;
  background-color: #fbfbfb;
  border: 1px solid#d9d9d9;
  border-radius: 3px;
}

.input__icon:focus {
  background-color: #fff;
  outline: 1px #90d7ec solid;
}

.gender__contents {
  display: flex;
}

.gender__content {
  display: flex;
  color: #545658;
  font-size: 16px;
  margin-left: 15px;
}

.gender__content:first-child {
  margin-left: 0;
}

.gender__input {
  display: none;
}

.gender__content span {
  position: relative;
  padding: 3px 3px 3px 20px;
}


.gender__content span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  transform: translateY(-50%);
  background-color: #fbfbfb;
  border: 1px solid #9d9d9d;
  border-radius: 10px;
}

.gender__input:checked + span::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 50%;
  height: 8px;
  width: 8px;
  border-radius: 10px;
  background-color: #01bfbd;
  transform: translateY(-50%);
}

.select__content {
  position: relative;
  width: 50%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  }
   
  select::-ms-expand {
  display: none;
  }

.select__content::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 45%;
  transform: rotate(45deg);
  height: 5px;
  width: 5px;
  border-right: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
}

.course__content {
  margin-bottom: 10px;
  color: #545658;
  font-size: 16px;
}

.course__content__text {
  position: relative;
  padding-left: 25px;
}

.course input {
  display: none;
}

.course__content__text::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  height: 15px;
  width: 15px;
  margin-top: -8px;
  border: 1px solid #d9d9d9;
}

.course__content input:checked + .course__content__text::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 50%;
  transform: rotate(45deg);
  height: 16px;
  width: 8px;
  margin-top: -12px;
  border-right: 3px solid #01bfbd;
  border-bottom: 3px solid #01bfbd;
}

.remarks .input__icon {
  height : 100px;
  resize: none;
}

.submit__btn {
  background-color: #01bfbd;
  color: #fff;
  padding: 13px;
  transition: 0.3s;
  cursor: pointer;
  cursor: hand;
}

.submit__btn:hover {
  background-color: #01a6a4;
}

.consent {
  font-size: 12px;
  line-height: 16px;
}

.consent a:hover {
  color: #3ecac8;
}

.text__color {
  color: #01a6a4;
  padding-bottom: 1px;
}

.verification a:hover {
  text-decoration: none;
  border-bottom: solid 1px#3ecac8;
}

.verification {
  text-align: center;
}

.verification p , .mail {
  margin-bottom: 8px;
}


